body
{
  background-color: grey;
  font-family: sans-serif;
  font-size: 12px;
}

a
{
  color: crimson;
}

div
{
  margin: auto;
  background-color: white;
  border: 5px ridge indigo;
  padding: 3px;
  overflow: hidden;
  max-width: 1500px;
}

h1
{
  border: 3px inset lightgrey;
  color: green;
  background-color: lightgrey;
  padding: 3px;
  font-size: 24px;
  overflow: hidden;
}

img
{
  max-width: 30%;
  min-width: 20px;
  height: auto;
}

p
{
  color: teal;
}

footer
{
  border: 3px inset grey;
  color: brown;
  background-color: grey;
  padding: 3px;
  overflow: hidden;
}
