body
{
min-width:500px;
height: auto;
background-color: #16142d;
background-image: url("../images/brick.png");
}

img
{
max-width: 100%;
min-width: 20px;
height: auto;
}

a
{
color: #008800;
text-decoration: none;
}

a:hover
{
background-color: #88ee00;
color: #000000;
text-decoration: underline 5px;
}

header, footer
{
background-color: #000000aa;
margin: 5% auto;
width: 80%;
padding: 1%;
color: #ffffffff;
text-align: center;
}

h1
{
color: #2ab83a;
font-family: sans-serif;
font-size: 32px;
padding: 1%;
background-color: #ffffffdd;
}

p
{
color: #1e4831;
font-family: sans-serif;
font-size: 16px;
text-align: justify;
padding: 1%;
margin: auto 5%;
background-color: #ffffffdd;
}

ul
{
color: #b344bf;
font-family: serif;
font-size: 24px;
font-style: italic;
margin: 5%;
background-color: #ffffffdd;
}

ol
{
color: #7269b1;
font-family: serif;
font-size: 24px;
font-style: italic;
margin: 5%;
background-color: #ffffffdd;
}

table
{
border:5px ridge indigo;
font-family: sans-serif;
margin: auto;
font-style: italic;
}

th
{
background-color: #002db5;
font-size: 18px;
color: white;
padding: 5px;
}

td
{
background-color: #ffe3f3;
font-size: 16px;
color: #000000;
text-align: right;
padding: 5px;
}

div.body::after
{
content: "";
display: table;
clear: both;
}

div.body
{
width: 80%;
padding: 1%;
margin: 5% auto;
background-color: #7c9fe3ff;
background-image: url("../images/waterback.png");
}

div.maincontent
{
margin: 5% auto;
float: right;
width: 75%;
min-width: 400px;
border: 5px none #00000000;
padding: 1%;
background-color: #ffffffdd;
}

div.navbar
{
margin: 5% auto;
width: 18%;
min-width: 100px;
float: left;
border: 1px solid #ffff00ff;
padding: 1%;
font-family: sans-serif;
background-color: #00000088;
color: white;
}

div.navbar ul ol
{
background-color: #ffff99ff;
list-style-type: lower-alpha;
list-style-position: inside;
color: #002020ff;
font-size: 14px;
padding: 5px;
margin: 0% 5%;
}

div.navbar ul ol a
{
text-decoration: none;
color: #a02050ff;
}

div.navbar img
{
margin: auto;
}

div.navbar a
{
text-decoration: none;
color: #f05000ff;
}

div.navbar a:hover
{
background-color: #000000ff;
color: #8888ffff;
}

div.navbar ul
{
background-color: #eeeeeeff;
list-style-type: square;
list-style-position: inside;
color: #dd9900ff;
font-size: 14px;
padding: 5px;
margin: 5% auto;
}


@media screen and (max-width:950px)
{

div.body
{
width: 90%;
padding: 5px;
margin: auto;
}

div.maincontent
{
width: 90%;
float: none;
min-width: 400px;
padding: 1%;
}

div.navbar
{
width: 90%;
float: none;
min-width: 400px;
padding: 1%;
}

}
